{% load staticfiles %}
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,300italic,400italic|Raleway:500,100,300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <title>Vamo de Bike</title>
  </head>
<body>
		<div class="container wrapper">
			<div class="header">
	<h1 class="site-title">Vamo de Bike</h1>
	<div class="site-affilation">
		<span class="affilation">
            <ul class="flat">
				<li class="position">Win Win Situation</li>
			</ul></span>
	</div>

	<nav class="nav">
		<ul class="flat">
			
		</ul>
	</nav>
</div>

    <div class="introduction"><span>
    Cidades inteligentes começam inevitavelmente com a mudança de um paradigma pré-estabelecido,
    pois não é possível existir progresso e inovação repetindo erros antigos
	</span>
	<br><span>
    A Vamo de Bike propõe uma nova forma de olhar para as cidades e para os seus meios de transportes
    afim de ajudar a mobilidade urbana tanto quanto projetos socias, fomentar a cultura, a educação e o
    desenvolvimento de uma sociedade saudável.
	</span>
	<br><span>
     A proposta é simple: Mova-se, participe, ajude e viva. Essa é uma clara situção onde todos os
     envolvidos saem ganhadores, a Vamo de Bike é a ponte necessária.
	</span>
	<br><span>
      Precisamos perder o medo de enxergar além, de dar um passo e sair do meio termo, de ser parte
      ativa desta nova era. Devemos ser o autor da mudança que queremos ver somente assim talvez as
      pessoas possam melhorar sua relação com as cidades.
	</span>
</div>
</html>
